@media (max-width: 600px) {
  /* Stilar för små skärmar */
  h1 {
    font-size: 8vw;
  }

  div {
    width: 50%;
  }

  input {
    width: 10vw;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  /* Stilar för medelstora skärmar */
  h1 {
    font-size: 6vw;
  }

  div {
    width: 85%;
  }

  input {
    width: 12vw;
  }
}

@media (min-width: 1201px) {
  /* Stilar för stora skärmar */
  h1 {
    font-size: 4vw;
  }

  div {
    width: 80%;
  }

  input {
    width: 10vw;
  }
}